<div class="ui-g-12 ui-md-4 ui-md-offset-4">
  <p-card title="Login Page" [style]="{width: '360px', backgroundColor: 'rgba(133, 210, 255, 0.27)'}">
      <span class="ui-float-label">
        <input id="name" type="text" size="30" pInputText>
        <label for="name">Username</label>
      </span>
      <span class="ui-float-label">
        <input id="email" type="text" size="30" pInputText>
        <label for="email">Email ID</label>
      </span>
      <span class="ui-float-label">
        <input id="mobile" type="text" size="30" pInputText>
        <label for="mobile">Mobile No</label>
      </span>
  </p-card>
</div>